/* .navbar-brand {
    float: left;
    width: 250px;
    height: 90px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background: #4aaaa5;
}
.container-fluid footer{
    background-color:#666;
} */
/* Found a narrow jumbotron example at https://v4-alpha.getbootstrap.com/examples/narrow-jumbotron/#
    Going to be trying the CSS found within that file  */
/* This spaces out the content */
body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
/* Everything but the jumbotron gets side spacing */
.header, .marketing, .footer{
    padding-right: 1rem;
    padding-left: 1rem;
}
